body {
  width: 550px;
  height: 550px;
  /* background: linear-gradient(45deg, #4ca1af, #c4e0e5); */
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}


/*Attractive gradients*/
/* linear-gradient(#1e3c72, #2a5298); */
/* linear-gradient(#6dd5fa, #2980b9); */
.breath-circle {
  align-self: center;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background: linear-gradient(#6dd5fa, #2980b9);
  animation-name: breath;

  animation: breath 7s ease 0s infinite;
}
.background {
  top: 0px;
  height: 650px;
  width: 650px;
  display: inline-block;
  position: absolute;
  background-image: url("images/Mountains.jpg");
  background-size: 1000px 1000px;
  filter: blur(2px);
}
.picture{
  width: 25px;
  height: 25px;
}
.circle-outline {
  display: inline-block;
  position: absolute;
  animation: none;
  transform: scale(2);
  background: none;
  border: rgba(255, 255, 255, 0.803) solid 1px;
}
.ring {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  position: absolute;
  background-color: rgb(255, 255, 255);
}
.left-ring {
  top: 120px;
  left: -3px;
}
.right-ring {
  top: 120px;
  left: 248px;
}
.active-text::before{
  display: block;
  position: relative;
  top: 90px;
  font-weight: bold;
  text-align: center;
  color: white;
  font-family: Poppins, 'Times New Roman', Times, serif;
  content: "";
  animation: text 7s linear infinite;
  font-size: 24px;
}
.circle-outline::before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: rgb(255, 255, 255);
  animation: moveAround 7s linear infinite;
}

@keyframes moveAround {
  0% {
    transform: rotate(0deg) translate(125px);
  }
  100% {
    transform: rotate(360deg) translate(126px);
  }
}
@keyframes text{
  0%{
    content: "Breath in";
  }
  
  100%{
    content: "Breath out";
  }
}

@keyframes breath {
  0% {
    transform: scale(1);
    background-color: #0977b6;
  }
  50% {
    transform: scale(2);
    background-color: #1488cc;
  }
  100% {
    transform: scale(1);
    background-color: #0977b6;
  }
}
